<div class="jumbotron">

	<center>
		<h1>Welcome to my Pizza Shack!</h1>
		<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTBJ8RkVu4yIBUjLH3trt6V48M5eraAGsXC-nukwgQCaJUvKIm3MQ">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>